html {
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  user-select: none;
}

#title{
  background-color: #344c36;
  height:85dvh;
}

#title-second{
  background-color: black;
  height: 20dvh;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  color:#f7efe2;
  font-family: "Winky Rough", sans-serif;
  z-index: 100;
}

nav div{
  font-size: 2rem;
  font-weight: 400;
  cursor: pointer;
}

nav ul {
  font-size: 1.2rem;
  display: flex;
  list-style: none;
  gap: 4rem;
}

nav ul li{
  cursor: pointer;
  padding: 0.5rem 0.5rem;
}

nav ul li:hover{
  color: #edd0a1;
  transition: all 0.3s ease-in-out;
}

#title-content{
  padding-top: 10dvh;
  position: relative; 
  display: flex;
  justify-content: center;
  height: 80dvh;
}

.stacked-content{
  position: relative;
  width: 70%;
  -webkit-user-select: none;
  user-select: none;
  z-index: 1
}

#title-bigword{
  position: absolute; 
  width: 100%;
  font-size: 6rem;
  color: transparent; 
  -webkit-text-stroke: 1px #e59d16; 
  list-style: none;
  z-index: 10;
  font-family: "Fascinate", system-ui;
  font-weight: 400;
  line-height: 1;
}

#title-bigword-first{
  position: relative; 
  font-size: 6rem;
  z-index: 99;
  color: #f8f0e3;
  -webkit-text-stroke: 0px #e59d16;
}

#img-box{
  position: absolute; 
  width: 30dvw;
  top: 12%;
  left: 55%;
  
}

#title-img {
  position: relative;
  width: 100%; 
  height: 100%; 
  object-fit: cover;
  z-index: 20;
  border-radius: 0% 10%;
  box-shadow: 0px 0px 20px #56472bfa;
}

#title-contact{
  position: absolute; 
  z-index: 30;
  width: 25%;
  top: 40%;
  color: #f8f0e3;
  font-size: 1.2rem;
  background-color: #344c36;
}

#title-contact ul{
  list-style: none;
  margin: 10%;
  line-height: 2rem;
  font-family: "Winky Rough", sans-serif;
  font-weight: 400;
}

#second{
  background-color: #f8f0e3;
  height: 90vh;
}

#second nav{
  color: #000000;
}

#second-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#second-left{
  width: 40%;
}
#second-bigword{
  font-size: 4rem;
  margin-top: -5%;
  justify-self: center;
}

#second-right{
  width: 40%;
}

#second-img{
  margin-top: 3%;
  width: 25dvw;
  border-radius: 10% 10% 0% 0%; 
}

#second-img-border{
  position: absolute;
  width: 25dvw;
  height: 15dvh;
  background-color: #000000;
  border-radius: 0% 0% 10% 10%;
}

#second-img-border-text{
  color: #ffffff;
  font-size: 1.5rem;
  font-family: "Winky Rough", sans-serif;
  font-weight: 400;
  padding-left: 2rem;
}

#second-img-border-text> div:first-child{
  font-size: 3rem;
  display: flex;
  justify-self: center;
}

#second-left-text{ 
  margin-top: 5%;
  width: 45%;
  font-size: 1.5rem;
  justify-self: center;
  line-height: 3rem;
}

#third{
  background-color: #344c36;
  height: 90vh;
}

#resume{
  font-size: 8rem;
  color: transparent; 
  -webkit-text-stroke: 1px #e59d16; 
  list-style: none;
  z-index: 10;
  font-family: "Fascinate", system-ui;
  font-weight: 400;
  line-height: 1;
  margin-top: -100%;
}

#third-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.third-left-text-title{
  color: #e59d16;
  font-size: 4rem;
  font-family: "Winky Rough", sans-serif;
  font-weight: 400;
  line-height: 2;
}

#third-left-text{
  color: #e59d16;
  font-size: 2.5rem;
  font-family: "Winky Rough", sans-serif;
  font-weight: 300;
  line-height: 2;
}

#resume-text-skill{
  color: #e59d16;
  font-size: 2.5rem;
  font-family: "Winky Rough", sans-serif;
  font-weight: 300;
  line-height: 2;
}







